/*
 *
 * Part of pdbv
 * Copyright 2003 (c) Mathieu Roy <yeupou@gnu.org>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the gnu general public license
 * as published by the free software foundation; either version 2
 * of the license, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but without any warranty; without even the implied warranty of
 * merchantability or fitness for a particular purpose.  see the
 * gnu general public license for more details.
 *
 * You should have received a copy of the gnu general public license
 * along with this program; if not, write to the free software
 * foundation, inc., 59 temple place - suite 330, boston, ma  02111-1307, usa.
 *
 * $Id: default.css,v 1.8 2003/10/31 20:50:45 yeupou Exp $
 *
 *
 *
*/



body { 
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
  background-color: #989aba;
  color: black;
}

.content {
  padding: 3%;
  border: solid thin #686868;
  background-color: white;  
}

a { text-decoration: none; color: blue; }
a:hover { background-color: #d8e6ff; }
a:active { color: black; }

.title { }
.itemtitle { font-style: italic; color: #9b9b9b;}
.footer { font-size: x-small; font-style: italic; }

.bold { font-weight: bold; }

.missing { color: #700707; }

.percentbox { background-color: #dcffc6; border: solid thin #278e27; color: #278e27; }
.percentboxused { background-color: #ffc7c6; border: solid thin #8e2927; color: #8e2927; }


